* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
    background:
        radial-gradient(circle at 10% 10%, #ff4fa333, transparent 30%),
        radial-gradient(circle at 90% 30%, #c04cff22, transparent 30%),
        linear-gradient(135deg, #170812, #2b0b21, #10050c);
    overflow-x: hidden;
}



body::before {
    content: "";
    position: fixed;

    width: 550px;
    height: 550px;

    left: -250px;
    top: 30%;

    border-radius: 50%;

    background:
        radial-gradient(
            circle at 30% 25%,
            #ffb6da,
            #ff4fa3 12%,
            #9d205f 40%,
            #390b25 70%,
            transparent 72%
        );

    box-shadow:
        inset -70px -70px 100px #00000099,
        0 0 100px #ff4fa333;

    animation: float1 10s ease-in-out infinite;

    z-index: -5;
}


body::after {
    content: "";
    position: fixed;

    width: 450px;
    height: 450px;

    right: -180px;
    bottom: 10%;

    border-radius: 50%;

    background:
        radial-gradient(
            circle at 30% 25%,
            #ffd7e9,
            #ff67b0 12%,
            #b41e69 40%,
            #3d0b28 70%,
            transparent 72%
        );

    box-shadow:
        inset -60px -60px 90px #000000aa,
        0 0 100px #ff4fa333;

    animation: float2 12s ease-in-out infinite;

    z-index: -5;
}


@keyframes float1 {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-45px);
    }
}


@keyframes float2 {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }
}



.blob {
    position: fixed;
    z-index: -2;
    pointer-events: none;
}

.blob1 {
    width: 90px;
    height: 90px;

    top: 20%;
    right: 8%;

    border-radius: 22px;

    background:
        linear-gradient(
            135deg,
            #ff8ac566,
            #6d174533
        );

    border: 1px solid #ffb8db44;

    box-shadow:
        0 20px 50px #00000066,
        inset 15px 15px 30px #ffffff12;

    transform:
        rotateX(55deg)
        rotateZ(45deg);

    animation: cube 8s ease-in-out infinite;
}


.blob2 {
    width: 55px;
    height: 55px;

    left: 12%;
    top: 70%;

    border-radius: 50%;

    background:
        radial-gradient(
            circle at 30% 25%,
            white,
            #ff8ac5 15%,
            #e52f88 40%,
            #6e1647
        );

    box-shadow:
        0 0 35px #ff4fa388;

    animation: ball 7s ease-in-out infinite;
}


.blob3 {
    width: 170px;
    height: 170px;

    right: 35%;
    top: 10%;

    border-radius: 50%;

    border: 1px solid #ff9dcc33;

    box-shadow:
        0 0 40px #ff4fa322,
        inset 0 0 40px #ff4fa311;

    animation: rotate 15s linear infinite;
}


@keyframes cube {

    0%, 100% {
        transform:
            rotateX(55deg)
            rotateZ(45deg)
            translateY(0);
    }

    50% {
        transform:
            rotateX(70deg)
            rotateZ(100deg)
            translateY(-30px);
    }
}


@keyframes ball {

    0%, 100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -35px);
    }
}


@keyframes rotate {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}



.container {
    width: 90%;
    max-width: 1150px;
    margin: auto;
}




.navbar {
    position: fixed;

    top: 18px;
    left: 50%;

    transform: translateX(-50%);

    width: min(1100px, 92%);

    z-index: 100;

    background: #280d20bb;

    border: 1px solid #ff9dcc2e;

    border-radius: 20px;

    backdrop-filter: blur(25px);

    box-shadow:
        0 20px 60px #00000055,
        inset 0 1px #ffffff0d;
}


.nav-container {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    color: white;
    text-decoration: none;

    font-size: 22px;
    font-weight: 800;
}


.logo span {
    color: #ff4fa3;

    text-shadow:
        0 0 20px #ff4fa3;
}


nav {
    display: flex;
    gap: 24px;
}


nav a {
    color: #d9b7c9;

    text-decoration: none;

    font-size: 12px;
    font-weight: 600;

    transition: .3s;
}


nav a:hover {
    color: #ff73b8;
}



.hero {
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding-top: 100px;
}


.hero-container {
    display: grid;

    grid-template-columns: 1fr 1fr;

    align-items: center;

    gap: 50px;
}


.welcome {
    color: #ff75b9;

    font-size: 11px;

    font-weight: 800;

    letter-spacing: 4px;

    margin-bottom: 20px;

    text-shadow:
        0 0 15px #ff4fa366;
}


.hero h1 {
    font-size: clamp(50px, 7vw, 80px);

    line-height: 1;

    letter-spacing: -4px;

    font-weight: 800;
}


.hero h1 span {
    display: block;

    background:
        linear-gradient(
            90deg,
            #ff4fa3,
            #ff8ac5,
            #c084fc
        );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter:
        drop-shadow(0 0 15px #ff4fa344);
}


.hero h2 {
    font-size: 20px;

    margin-top: 22px;

    color: #ffe7f2;
}


.hero-description {
    max-width: 560px;

    margin-top: 18px;

    color: #c9aeba;

    font-size: 14px;

    line-height: 1.8;
}



.buttons {
    display: flex;
    gap: 15px;

    margin-top: 30px;
}


.btn {
    padding: 14px 22px;

    border-radius: 13px;

    text-decoration: none;

    font-size: 13px;
    font-weight: 700;

    transition: .3s;
}


.pink-btn {
    color: white;

    background:
        linear-gradient(
            135deg,
            #df277f,
            #ff5eac,
            #c45cf4
        );

    box-shadow:
        0 15px 40px #ff4fa344;
}


.pink-btn:hover {
    transform: translateY(-5px);

    box-shadow:
        0 20px 50px #ff4fa366;
}


.glass-btn {
    color: white;

    background: #ffffff08;

    border: 1px solid #ffacd333;

    backdrop-filter: blur(15px);
}


.glass-btn:hover {
    transform: translateY(-5px);

    border-color: #ff4fa3;
}

.profile-section {
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    perspective: 1000px;
}


.profile {
    width: 280px;
    height: 280px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background:
        radial-gradient(
            circle at 30% 20%,
            #713651,
            #341126 45%,
            #10040c 75%
        );

    border: 1px solid #ffb9da44;

    box-shadow:
        inset -60px -60px 90px #000000bb,
        inset 20px 20px 40px #ffffff0d,
        0 0 90px #ff4fa34d;

    animation: profileFloat 7s ease-in-out infinite;

    z-index: 3;
}


.profile span {
    font-size: 125px;

    font-weight: 800;

    background:
        linear-gradient(
            135deg,
            white,
            #ff79ba,
            #c451ee
        );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter:
        drop-shadow(0 0 25px #ff4fa399);
}


.shine {
    position: absolute;

    width: 150px;
    height: 150px;

    top: 25px;
    left: 40px;

    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            #ffffff18,
            transparent 70%
        );
}


@keyframes profileFloat {

    0%, 100% {
        transform:
            rotateX(5deg)
            rotateY(-8deg)
            translateY(0);
    }

    50% {
        transform:
            rotateX(-5deg)
            rotateY(10deg)
            translateY(-20px);
    }
}


.circle {
    position: absolute;

    border-radius: 50%;

    border: 2px solid #ff4fa399;

    box-shadow:
        0 0 20px #ff4fa366;
}


.circle1 {
    width: 380px;
    height: 120px;

    transform:
        rotateX(65deg)
        rotateZ(-15deg);

    animation: orbit 8s linear infinite;
}


.circle2 {
    width: 340px;
    height: 110px;

    border-color: #ffb4d955;

    transform:
        rotateX(65deg)
        rotateZ(70deg);

    animation: orbit2 10s linear infinite;
}


@keyframes orbit {

    from {
        transform:
            rotateX(65deg)
            rotateZ(0);
    }

    to {
        transform:
            rotateX(65deg)
            rotateZ(360deg);
    }
}


@keyframes orbit2 {

    from {
        transform:
            rotateX(65deg)
            rotateZ(360deg);
    }

    to {
        transform:
            rotateX(65deg)
            rotateZ(0);
    }
}



.tag {
    position: absolute;

    padding: 10px 17px;

    border-radius: 12px;

    background:
        linear-gradient(
            135deg,
            #4b1836ee,
            #190711ee
        );

    border: 1px solid #ff9dcc44;

    backdrop-filter: blur(15px);

    box-shadow:
        0 15px 35px #00000066;

    font-size: 11px;

    font-weight: 800;

    letter-spacing: 1px;

    z-index: 5;
}


.tag1 {
    top: 80px;
    right: 20px;

    animation: tagfloat 4s infinite ease-in-out;
}


.tag2 {
    left: 20px;
    bottom: 100px;

    animation: tagfloat 5s infinite ease-in-out;
}


.tag3 {
    right: 20px;
    bottom: 70px;

    animation: tagfloat 4.5s infinite ease-in-out;
}


@keyframes tagfloat {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}



.section {
    padding: 110px 0;
}


.dark {
    background:
        #10040ccc;

    border-top: 1px solid #ff9dcc0d;
    border-bottom: 1px solid #ff9dcc0d;
}


.heading {
    margin-bottom: 50px;
}


.heading p {
    color: #ff75b9;

    font-size: 10px;

    font-weight: 800;

    letter-spacing: 4px;

    margin-bottom: 10px;
}


.heading h2 {
    font-size: 44px;

    letter-spacing: -2px;
}


.heading h2 span {
    color: #ff4fa3;

    text-shadow:
        0 0 20px #ff4fa355;
}


.about-grid {
    display: grid;

    grid-template-columns:
        2fr 1fr 1fr 1fr;

    gap: 18px;
}


.about-card,
.stat-card {
    padding: 30px;

    border-radius: 20px;

    background:
        linear-gradient(
            135deg,
            #42132f99,
            #160610aa
        );

    border: 1px solid #ff9dcc26;

    backdrop-filter: blur(20px);

    box-shadow:
        0 25px 60px #00000055;

    transition: .4s;
}


.about-card:hover,
.stat-card:hover {
    transform: translateY(-8px);

    border-color: #ff4fa377;

    box-shadow:
        0 30px 70px #00000077;
}


.number {
    color: #ff4fa3;

    font-size: 13px;

    font-weight: 800;

    margin-bottom: 20px;
}


.about-card h3 {
    font-size: 24px;

    margin-bottom: 18px;
}


.about-card h3 span {
    color: #ff5eaa;
}


.about-card p {
    color: #c9aeba;

    font-size: 13px;

    line-height: 1.8;

    margin-bottom: 10px;
}


.stat-card {
    display: flex;

    flex-direction: column;

    justify-content: center;
}


.stat-card strong {
    color: #ff4fa3;

    font-size: 44px;

    text-shadow:
        0 0 25px #ff4fa366;
}


.stat-card p {
    color: #c9aeba;

    font-size: 12px;

    line-height: 1.5;

    margin-top: 8px;
}



.timeline {
    max-width: 850px;

    margin: auto;

    position: relative;
}


.timeline::before {
    content: "";

    position: absolute;

    left: 10px;

    top: 0;
    bottom: 0;

    width: 2px;

    background:
        linear-gradient(
            #ff4fa3,
            transparent
        );

    box-shadow:
        0 0 15px #ff4fa377;
}


.education-card {
    position: relative;

    margin-bottom: 30px;

    margin-left: 50px;

    padding: 30px;

    border-radius: 20px;

    background:
        linear-gradient(
            135deg,
            #42132f99,
            #160610aa
        );

    border: 1px solid #ff9dcc26;

    transition: .4s;
}


.education-card:hover {
    transform: translateX(10px);

    border-color: #ff4fa366;
}


.dot {
    position: absolute;

    left: -60px;
    top: 32px;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: #ff4fa3;

    border: 5px solid #260c1f;

    box-shadow:
        0 0 20px #ff4fa3;
}


.status {
    color: #ff75b9;

    font-size: 9px;

    font-weight: 800;

    letter-spacing: 3px;
}


.education-card h3 {
    font-size: 19px;

    margin: 12px 0;
}


.education-card h4 {
    color: white;

    font-size: 13px;
}


.education-card p {
    color: #c9aeba;

    font-size: 12px;

    margin-top: 7px;
}


.skills {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 20px;
}


.skill {
    padding: 25px;

    border-radius: 18px;

    background:
        linear-gradient(
            135deg,
            #42132f99,
            #160610aa
        );

    border: 1px solid #ff9dcc26;

    transition: .4s;
}


.skill:hover {
    transform: translateY(-8px);

    border-color: #ff4fa366;
}


.skill > div:first-child {
    display: flex;

    justify-content: space-between;

    margin-bottom: 15px;
}


.skill b {
    font-size: 14px;
}


.skill span {
    color: #ff75b9;

    font-size: 11px;

    font-weight: 800;
}


.bar {
    height: 7px;

    background: #ffffff0d;

    border-radius: 20px;

    overflow: hidden;
}


.bar i {
    display: block;

    height: 100%;

    border-radius: 20px;

    background:
        linear-gradient(
            90deg,
            #e52f88,
            #ff6ab4,
            #c084fc
        );

    box-shadow:
        0 0 15px #ff4fa3aa;
}


.projects {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 22px;
}


.project {
    min-height: 290px;

    position: relative;

    padding: 30px;

    border-radius: 22px;

    background:
        linear-gradient(
            135deg,
            #42132f99,
            #160610aa
        );

    border: 1px solid #ff9dcc26;

    transition: .4s;

    overflow: hidden;
}


.project::after {
    content: "";

    position: absolute;

    width: 200px;
    height: 200px;

    right: -100px;
    bottom: -100px;

    border-radius: 50%;

    background:
        radial-gradient(
            circle,
            #ff4fa333,
            transparent 70%
        );
}


.project:hover {
    transform:
        perspective(800px)
        rotateX(5deg)
        rotateY(-5deg)
        translateY(-10px);

    border-color: #ff4fa377;
}


.project small {
    color: #ff75b9;

    font-weight: 800;
}


.arrow {
    position: absolute;

    top: 25px;
    right: 25px;

    color: #ff4fa3;

    font-size: 25px;
}


.project h3 {
    margin-top: 50px;

    font-size: 21px;
}


.project p {
    color: #c9aeba;

    font-size: 13px;

    line-height: 1.7;

    margin-top: 15px;
}


.tags {
    display: flex;

    gap: 8px;

    margin-top: 25px;
}


.tags span {
    padding: 6px 10px;

    border-radius: 8px;

    background: #ff4fa315;

    border: 1px solid #ff4fa333;

    color: #ffd2e5;

    font-size: 9px;

    font-weight: 700;
}


.hobbies {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 15px;
}


.hobby {
    min-height: 120px;

    padding: 25px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    border-radius: 18px;

    background:
        linear-gradient(
            135deg,
            #42132f99,
            #160610aa
        );

    border: 1px solid #ff9dcc26;

    transition: .4s;
}


.hobby:hover {
    transform: translateY(-10px);

    border-color: #ff4fa366;
}


.hobby span {
    color: #ff75b9;

    font-size: 11px;
}


.hobby b {
    font-size: 14px;
}



.contact {
    padding: 110px 0;

    background:
        radial-gradient(
            ellipse at center,
            #ff4fa31c,
            transparent 65%
        );
}


.contact-box {
    display: grid;

    grid-template-columns:
        1fr .8fr;

    gap: 60px;

    padding: 55px;

    border-radius: 28px;

    background:
        linear-gradient(
            135deg,
            #42132f99,
            #160610aa
        );

    border: 1px solid #ff9dcc26;

    backdrop-filter: blur(20px);

    box-shadow:
        0 30px 80px #00000066;
}


.contact-box h2 {
    font-size: 48px;

    line-height: 1.1;

    margin-bottom: 20px;
}


.contact-box h2 span {
    display: block;

    color: #ff4fa3;

    text-shadow:
        0 0 20px #ff4fa355;
}


.contact-description {
    color: #c9aeba;

    font-size: 13px;

    line-height: 1.8;
}


.details {
    display: flex;

    flex-direction: column;

    gap: 18px;

    margin-top: 30px;
}


.details div {
    display: flex;

    flex-direction: column;

    gap: 5px;
}


.details small {
    color: #ff75b9;

    font-size: 9px;

    letter-spacing: 3px;
}


.details b {
    font-size: 13px;
}


/* FORM */

form {
    display: flex;

    flex-direction: column;

    gap: 14px;
}


form input,
form textarea {
    width: 100%;

    padding: 15px 18px;

    border-radius: 12px;

    border: 1px solid #ff9dcc26;

    outline: none;

    background: #ffffff08;

    color: white;

    font-family: inherit;

    font-size: 13px;

    resize: vertical;
}


form input::placeholder,
form textarea::placeholder {
    color: #9b7288;
}


form input:focus,
form textarea:focus {
    border-color: #ff4fa3;

    box-shadow:
        0 0 20px #ff4fa322;
}


form button {
    border: none;

    padding: 15px;

    border-radius: 12px;

    color: white;

    font-weight: 700;

    cursor: pointer;

    background:
        linear-gradient(
            135deg,
            #df277f,
            #ff5eac,
            #c45cf4
        );

    box-shadow:
        0 15px 35px #ff4fa344;

    transition: .3s;
}


form button:hover {
    transform: translateY(-4px);

    box-shadow:
        0 20px 45px #ff4fa366;
}



footer {
    padding: 25px 5%;

    display: flex;

    justify-content: space-between;

    background: #0c0309;

    border-top: 1px solid #ff9dcc12;

    color: #9b7a8b;

    font-size: 11px;
}


@media (max-width: 900px) {

    nav {
        gap: 12px;
    }

    nav a {
        font-size: 10px;
    }

    .hero-container {
        grid-template-columns: 1fr;

        text-align: center;
    }

    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }

    .buttons {
        justify-content: center;
    }

    .about-grid {
        grid-template-columns: 1fr 1fr;
    }

    .big-card {
        grid-column: span 2;
    }

    .skills,
    .projects {
        grid-template-columns: 1fr 1fr;
    }

    .hobbies {
        grid-template-columns: 1fr 1fr;
    }

    .contact-box {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px) {

    nav {
        display: none;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 16px;
    }

    .buttons {
        flex-direction: column;
    }

    .profile {
        width: 220px;
        height: 220px;
    }

    .profile span {
        font-size: 90px;
    }

    .circle1 {
        width: 290px;
    }

    .circle2 {
        width: 260px;
    }

    .about-grid,
    .skills,
    .projects,
    .hobbies {
        grid-template-columns: 1fr;
    }

    .big-card {
        grid-column: auto;
    }

    .contact-box {
        padding: 28px;
    }

    .contact-box h2 {
        font-size: 38px;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}
